* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Courier New', Courier, monospace;
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 100;
}

.skip-link:focus {
	top: 0;
}

/* Appbar */
.app-bar {
	padding: 8px 16px;
	background-color: white;
	display: grid;
	grid-template-columns: auto 1fr auto;
	gap: 10px;
	position: sticky;
	top: 0;
	z-index: 99;
	box-shadow: 1 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.app-bar .app-bar__menu {
	display: flex;
	align-items: center;
}

.app-bar .app-bar__menu button {
	background-color: transparent;
	border: none;
	font-size: 18px;
	padding: 8px;
	cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: #344955;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: fixed;
  top: 50px;
  left: -280px;
  width: 250px;
	height: 100%;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
}

.app-bar .app-bar__navigation ul li a:hover {
	font-weight: bold;
	color: #FAAB1A;
}

/*
* Jumbotron
*/
.hero {
	display: flex;
	align-items: center;
	min-height: 400px;
	width: 100%;
	text-align: center;
	background-image: url("../public/images/heros/hero-image_2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #fff;
	padding: 20px;
}

.hero__inner {
	margin: 0 auto;
	background-color: #344955;
  color: #fff;
  padding: 20px;
  border-radius: 25px;
	opacity: 0.9;
}

.hero__title {
	color: #FAAB1A;
	font-weight: 500;
	font-size: 28px;
}

.hero__tagline {
	color: #FAAB1A;
	margin-top: 16px;
	font-size: 18px;
	font-weight: 300;
}

/*
* main
*/
main {
	padding: 0px 32px;
	flex: 1;
}

main .head, .content {
	width: 100%;
	margin: 0 auto;
	padding-top: 10px;
}

/*
* headline
*/
.headline {
	position: relative;
	border-radius: 25px;
}

.headline__figure {
	width: 100%;
	padding: 5px;
}

.headline__figure img {
	width: 100%;
	background-size: cover;
	border-radius: 25px;
	padding: 0px 5px;
}

.headline__figure figcaption {
	text-align: center;
	color: #666666;
	font-size: 13px;
	font-weight: 400;
	margin-top: 8px;
}

.headline__content {
	width: 100%;
	padding: 10px 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
}

.headline__title {
	font-size: 24px;
	font-weight: 500;
}

.headline__description {
	font-size: 16px;
	margin-top: 12px;
}

.headline__button {
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	text-transform: uppercase;
	margin: 5px 0px 20px 0px;
	cursor: pointer;
	padding: 8px 16px;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #344955;
	transition: opacity 0.3s;
}

.headline__button:hover {
	opacity: 0.8;
	background-color: #FAAB1A;
}

/*
* latest
*/
.latest {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

.latest__label {
	font-size: 32px;
	font-weight: lighter;
}

.latest__label::after {
	content: '';
	margin-top: 16px;
	display: block;
	border-bottom: 1px solid #eeeeee;
}

/*
* post
*/
.posts {
	margin: 32px auto auto;
	text-align: left;
}

/*
* post item
*/
.post-item {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 100%;
	border-radius: 25px;
	overflow: hidden;
}

.post-item__content {
	padding: 16px 32px 32px 32px;
}

.post-item__thumbnail {
	width: 100%;
	height: 45%;
}

.post-item__tag {
	display: flex;
}

.post-item__rate {
	font-size: 12px;
	text-transform: uppercase;
	color: #FAAB1A;
	margin-right: auto;
}

.post-item__city {
	font-size: 12px;
	text-transform: uppercase;
	color: #FAAB1A;
	margin-left: auto;
}

.post-item__title {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	margin-top: 5px;
	transition: 0.3s opacity;
}

.post-item__title:hover {
	opacity: 0.5;
	cursor: pointer;
	color: #FAAB1A;
}

.post-item__title a {
	text-decoration: none;
	color: inherit;
}

.post-item__description {
	margin-top: 16px;
	font-size: 14px;
	line-height: 1.5em;
}

/*
  Restaurant
*/
 
.restaurant, .restaurant__overview {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.restaurant__title {
	font-style: italic;
}

/* 
 *	Tags
 */
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  /* -webkit-transition: color 0.2s; */
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson; 
}


/* Three column layout */
.side {
  float: left;
  width: 20%;
  margin-top:10px;
}

.middle {
  margin-top:10px;
  float: left;
  width: 60%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*
* footer
*/
footer {
  padding: 16px;
}
 
footer p {
  text-align: center;
  color: #aaaaaa;
}
 
footer p a {
  color: #db0000;
  text-decoration: none;
}

/* favorite */
.like {
	font-size: 18px;
	position: fixed;
	display: flex;
	bottom: 16px;
	right: 16px;
	background-color: #db0000;
	color: #fff;
	border: 0;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

/*
 * Form Review
*/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=button]:hover {
  background-color: #45a049;
}

.form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.form-col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.form-row:after {
  content: "";
  display: table;
  clear: both;
}